In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv("D:/Datasets/tripadvisor_hotel_reviews.csv")
data

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [3]:
data.isnull().sum()

Review    0
Rating    0
dtype: int64

In [4]:
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [5]:
data.describe()

             Rating
count  20491.000000
mean       3.952223
std        1.233030
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000

In [6]:
def Rating_rt(data):
    if data["Rating"] < 3:
        return "Negative"
    else:
        return "Positive"
   
#def input_Type(cols):
    #Type=cols[0]
    #Generation=cols[1]

In [7]:
data["Rating"] = data.apply(Rating_rt,axis = 1)

In [8]:
data

                                                  Review    Rating
0      nice hotel expensive parking got good deal sta...  Positive
1      ok nothing special charge diamond member hilto...  Negative
2      nice rooms not 4* experience hotel monaco seat...  Positive
3      unique, great stay, wonderful time hotel monac...  Positive
4      great stay great stay, went seahawk game aweso...  Positive
...                                                  ...       ...
20486  best kept secret 3rd time staying charm, not 5...  Positive
20487  great location price view hotel great quick pl...  Positive
20488  ok just looks nice modern outside, desk staff ...  Negative
20489  hotel theft ruined vacation hotel opened sept ...  Negative
20490  people talking, ca n't believe excellent ratin...  Negative

[20491 rows x 2 columns]

In [9]:
data.shape

(20491, 2)

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

from nltk.stem import WordNetLemmatizer
wordnet = WordNetLemmatizer()
from nltk.tokenize import word_tokenize,sent_tokenize


import re

In [11]:
corpus=[]
for i in range(len(data)):
    review=re.sub('[^a-zA-Z]',' ',data["Review"][i])
    #replace characters other than [a-z] and (A-Z) with spaces
    review=review.lower()#convert tolowercase
    review=review.split()# split using space(list of words)
    review=[wordnet.lemmatize(word) for word in review if not word in set(stopwords.words('english'))]
    #check whether stop word  or not
    review=' '.join(review)# join the preprocessed words
    corpus.append(review)# append the content

In [12]:
import spacy
import re,string,unicodedata
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from textblob import TextBlob
from textblob import Word
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from bs4 import BeautifulSoup

In [13]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\GOKUL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
#Tokenization of text
tokenizers=ToktokTokenizer()
#Setting English stopwords
stopwords=nltk.corpus.stopwords.words('english')

In [15]:
#Removing the noisy text
def noiseremoval_text(text):
  soup = BeautifulSoup(text, "html.parser")
  text = soup.get_text()
  text = re.sub('\[[^]]*\]', '', text)
  return text

In [16]:
data['Review']=data['Review'].apply(noiseremoval_text)

C:\Users\GOKUL\anaconda3\lib\site-packages\bs4\__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(

In [17]:
#Stemming the text
def stemmer(text):
    ps=nltk.porter.PorterStemmer()
    text= ' '.join([ps.stem(word) for word in text.split()])
    return text

In [18]:
data['Review']=data['Review'].apply(stemmer)

In [19]:
from nltk.corpus import stopwords  
from nltk.tokenize import word_tokenize

In [20]:

stop_wr=set(stopwords.words('english'))
print(stop_wr)

{'having', "wouldn't", 'own', 'only', "you'd", 'same', 'at', 'theirs', 'my', 'with', 'once', 'above', 'very', 'on', 'until', 'that', 't', 'the', 'we', 'is', 'don', 'after', "isn't", 'all', 'under', 'were', 'd', 'been', 'her', 'ma', 'other', 'by', 're', 'most', 'hers', "needn't", 'themselves', 'out', 'when', 'any', 'its', 'it', 'did', 'wouldn', 'being', "shouldn't", 'nor', 'so', 'has', 'between', "won't", 'them', 'ourselves', 'she', "you've", 'yourself', 'he', 'before', 'both', 'now', 'be', 'again', 'doesn', "she's", 'are', 'each', 'they', 'as', 'our', 'who', "don't", "it's", 'there', "weren't", 'am', 'below', 'his', 'but', 'to', 'had', 'll', 'whom', "hasn't", 'isn', "haven't", "mustn't", 'down', 'have', 'couldn', 'from', 'aren', 'haven', "shan't", 'about', 'your', 'of', 'up', 'these', 'm', 'itself', "couldn't", 'hasn', 'what', "aren't", 'needn', 'while', 'yours', "you're", 'through', 'than', "should've", 'no', 'him', 'where', 've', 'into', 'mightn', 'and', 'if', 'o', 'over', 'ours', 'why', 'how', "mightn't", 'myself', 'few', 'a', 'won', 'an', 'hadn', 'more', 'y', 'just', 'those', "hadn't", 'then', "that'll", 'because', 'will', 'ain', 'wasn', 'off', 'this', 'here', "you'll", 'some', 'can', 'you', 'their', 'too', 'weren', 'me', 'during', 'do', 'shouldn', 'yourselves', 'such', 'or', 'himself', 'not', 'for', 'doing', 'in', "doesn't", 'was', 'against', 's', 'should', 'didn', 'shan', "wasn't", "didn't", 'which', 'does', 'i', 'mustn', 'herself', 'further'}

In [21]:
def removing_stopwords(text, is_lower_case=False):
    #Tokenization of text
    tokenizers=ToktokTokenizer()
    #Setting English stopwords
    tokens = tokenizers.tokenize(text)
    tokens = [token.strip() for token in tokens]
    if is_lower_case:
        filter_tokens = [token for token in tokens if token not in stop_wr]
    else:
        filter_tokens = [token for token in tokens if token.lower() not in stop_wr]
    filtered_text = ' '.join(filter_tokens)    
    return filtered_text

In [22]:
data['Review']=data['Review'].apply(removing_stopwords)

In [23]:
train_Review_data=data.Review[:10000]

In [24]:
test_Review_data=data.Review[10000:]

In [25]:
#Count vectorizer for bag of words
cv=CountVectorizer(binary=False,ngram_range=(1,3))
#transformed train reviews
cv_train=cv.fit_transform(train_Review_data)
#transformed test reviews
cv_test=cv.transform(test_Review_data)

print('BOW_cv_train:',cv_train.shape)
print('BOW_cv_test:',cv_test.shape)
#vocab=cv.get_feature_names()-toget feature names

BOW_cv_train: (10000, 1417938)
BOW_cv_test: (10491, 1417938)

In [26]:
#Tfidf vectorizer
tf=TfidfVectorizer(use_idf=True,ngram_range=(1,3))
#transformed train reviews
tf_train=tf.fit_transform(train_Review_data)
#transformed test reviews
tf_test=tf.transform(test_Review_data)
print('Tfidf_train:',tf_train.shape)
print('Tfidf_test:',tf_test.shape)

Tfidf_train: (10000, 1417938)
Tfidf_test: (10491, 1417938)

In [27]:
#labeling the sentient data
label=LabelBinarizer()
#transformed sentiment data
sentiment_data=label.fit_transform(data['Rating'])
print(sentiment_data.shape)

(20491, 1)

In [28]:
data

                                                  Review    Rating
0      nice hotel expens park got good deal stay hote...  Positive
1      ok noth special charg diamond member hilton de...  Negative
2      nice room 4* experi hotel monaco seattl good h...  Positive
3      unique , great stay , wonder time hotel monaco...  Positive
4      great stay great stay , went seahawk game awes...  Positive
...                                                  ...       ...
20486  best kept secret 3rd time stay charm , 5-star ...  Positive
20487  great locat price view hotel great quick place...  Positive
20488  ok look nice modern outside , desk staff n ' p...  Negative
20489  hotel theft ruin vacat hotel open sept 17 2007...  Negative
20490  peopl talking , ca n ' believ excel rate hotel...  Negative

[20491 rows x 2 columns]

In [29]:
train_data=data.Rating[:10000]

In [30]:
test_data=data.Rating[10000:]

In [31]:
#training the model
logistic=LogisticRegression(penalty='l2',max_iter=500,C=1,random_state=42)
#Fitting the model for Bag of words
lr_bow=logistic.fit(cv_train,train_data)
print(lr_bow)
#Fitting the model for tfidf features
lr_tfidf=logistic.fit(tf_train,train_data)
print(lr_tfidf)

LogisticRegression(C=1, max_iter=500, random_state=42)
LogisticRegression(C=1, max_iter=500, random_state=42)

In [32]:
lr_bow_predict=logistic.predict(cv_test)
print(lr_bow_predict)

['Positive' 'Positive' 'Negative' ... 'Positive' 'Negative' 'Positive']

In [33]:
lr_tfidf_predict=logistic.predict(tf_test)
print(lr_tfidf_predict)

['Positive' 'Positive' 'Positive' ... 'Positive' 'Negative' 'Positive']

In [34]:
lr_bow_score=accuracy_score(test_data,lr_bow_predict)
print("lr_bow_score :",lr_bow_score)

lr_bow_score : 0.9176436945953674

In [35]:
lr_tfidf_score=accuracy_score(test_data,lr_tfidf_predict)
print("lr_tfidf_score :",lr_tfidf_score)

lr_tfidf_score : 0.8934324659231723